---
import BtnSelectorPortafolio from "./BtnSelectorPortafolio.astro";
const { items } = Astro.props;
---

<section class="projects">
  {
    items.map((item: any) => (
      <div class="project-card" tabindex="0" style="background-color: none;">
        <div class="project-overlay">
          <div class="project-name">{item.name}</div>
          <div class="project-description">
            <span>{item.description}</span>
          </div>
          <div class="project-buttons">
            <div class="buttons-inner-container">
              <BtnSelectorPortafolio
                texto={item.textoBtnRepositorio}
                url={item.urlRepositorio}
                color={item.color}
              />
              <BtnSelectorPortafolio
                texto={item.textoBtnDemo}
                url={item.urlDemo}
                color={item.color}
              />
            </div>
          </div>
        </div>
      </div>
    ))
  }
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
  }

  .project-card {
    width: 100%;
    padding: 40px;
    max-width: 420px;
    border-radius: 2.5rem;
    border: 4px solid var(--color-blanco);

    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .project-overlay {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .project-name {
    font-size: var(--display-font-size-mobile);
    text-align: center;
    font-weight: var(--font-weight-bold);
  }

  .project-buttons {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s ease;
  }

  .buttons-inner-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .project-card:hover .project-buttons {
    grid-template-rows: 1fr;
  }

  .project-card:hover .buttons-inner-container {
    opacity: 1;
    transform: translateY(0);
    padding-top: 15px;
  }

  .project-description {
    text-align: center;
    font-size: var(--lead-font-size-mobile);
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    .project-name {
      font-size: var(--display-font-size);
    }

    .project-card {
      max-width: 550px;
    }

    .project-description {
      font-size: var(--lead-font-size);
    }

    .buttons-inner-container {
      flex-direction: row;
    }
  }
</style>
