---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { pathname } = Astro.url;

const currentPath = pathname;

const basePath = `/${lang}/`;
const sobreMiPath = `/${lang}/sobremi/`;
const resumePath = `/${lang}/resume/`;
const portafolioPath = `/${lang}/portafolio/`;

const isPortafolioActive =
  currentPath === portafolioPath ||
  currentPath.startsWith(`${portafolioPath}/`);
---

<div id="main-menu" class="nav-links">
  <a href={basePath} class={currentPath === basePath ? "active" : ""}
    >{t("nav.home")}</a
  >
  <a href={sobreMiPath} class={currentPath === sobreMiPath ? "active" : ""}
    >{t("nav.about")}</a
  >
  <a href={resumePath} class={currentPath === resumePath ? "active" : ""}
    >{t("nav.resume")}</a
  >
  <a href={portafolioPath} class={isPortafolioActive ? "active" : ""}
    >{t("nav.portfolio")}</a
  >
</div>
