---
import Cards from "./CardPortfolio.astro";

const base = import.meta.env.BASE_URL;

const stack = [
  {
    name: "ANGULAR",
    icon: `${base}/icons/angular.svg`,
    url: `${base}/portafolio/angular`,
  },
  {
    name: "ASTRO",
    icon: `${base}/icons/astro.svg`,
    url: `${base}/portafolio/astro`,
  },
  {
    name: "MAQUETAS",
    icon: `${base}/icons/figma.svg`,
    url: `${base}/portafolio/maquetas`,
  },
  {
    name: "PRÓXIMAMENTE",
    icon: `${base}/icons/proximamente.svg`,
    url: `${base}/portafolio/proximamente`,
  },
];
---

<div class="cuerpo">
  <h2 class="titulo">PORTAFOLIO</h2>
  <Cards items={stack} />
</div>

<style>
  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 1.5rem;
    min-height: calc(100dvh - 5rem);
  }

  .titulo {
    color: var(--color-blanco);
    font-family: var(--titulos);
    font-size: var(--display-font-size-mobile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-120);
  }
</style>
