---
import { getRelativeLocaleUrl } from "astro:i18n";
import Cards from "./CardPortfolio.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const stack = [
  {
    name: "ANGULAR",
    icon: "/icons/angular.svg",
    url: `/${lang}/portafolio/angular`,
  },
  {
    name: "ASTRO",
    icon: "/icons/astro.svg",
    url: `/${lang}/portafolio/astro`,
  },
  {
    name: t("portfolio.category.mockups"),
    icon: "/icons/figma.svg",
    url: `/${lang}/portafolio/maquetas`,
  },
  {
    name: t("portfolio.category.comingSoon"),
    icon: "/icons/proximamente.svg",
    url: `/${lang}/portafolio/proximamente`,
  },
];
---

<div class="cuerpo">
  <h2 class="titulo">{t("portfolio.title")}</h2>
  <Cards items={stack} />
</div>

<style>
  .cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    gap: 1.5rem;
    min-height: calc(100dvh - 5rem);
  }

  .titulo {
    color: var(--color-blanco);
    font-family: var(--titulos);
    font-size: var(--display-font-size-mobile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-120);
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    .titulo {
      font-size: var(--display-font-size);
    }
  }
</style>
