---
import japonesa from "../assets/japonesaSinBg.webp";
import BotonesPresentacion from "./BotonesPresentacion.astro";
import { Picture } from "astro:assets";
import "../styles/index.css";
import BtnSelector from "./BtnSelector.astro";

const baseDir = import.meta.env.BASE_URL;

// Función para asegurar que la ruta al PDF no genere dobles barras en Vercel
const getAssetPath = (path: string) => {
  const merged = `${baseDir}/${path}`;
  return merged.replace(/\/+/g, "/");
};

const texto = "Descargar Hoja de Vida";

const url = getAssetPath("CV_Juan_Pablo_Bustamante.pdf");
---

<div class="presentacion">
  <div class="cuerpo">
    <hgroup class="nombre-titulo">
      <p class="nombre">JUAN PABLO</p>
      <h1 class="apellido">BUSTAMANTE</h1>
      <p class="titulo">Desarrollador Web</p>
    </hgroup>

    <BtnSelector texto={texto} url={url} />

    <BotonesPresentacion />
  </div>

  <div class="imagen-japonesa">
    <Picture
      src={japonesa}
      alt="japonesa"
      id="japonesa"
      loading="eager"
      fetchpriority="high"
      formats={["webp"]}
      widths={[223, 446, 740, 940]}
      sizes="(max-width: 767px) 223px, (max-width: 1024px) 370px, 460px"
    />
  </div>
</div>

<!--

<Image
  src={miImagenJaponesa}
  alt="Tu descripción aquí"
  widths={[300, 600, 1200]}
  sizes="(max-width: 768px) 250px, (max-width: 1025px) 600px, 1200px"
  class="tu-clase-css-actual"
/>



/* Tablet */
@media screen and (min-width: 768px) {
}

/* Desktop */
@media screen and (min-width: 1025px) {
}
-->
