---
import japonesa from "../assets/japonesaSinBg.webp";
import BotonesPresentacion from "./BotonesPresentacion.astro";
import { Image } from "astro:assets";
import "../styles/index.css";
import BtnSelector from "./BtnSelector.astro";

const baseDir = import.meta.env.BASE_URL;

// Función para asegurar que la ruta al PDF no genere dobles barras en Vercel
const getAssetPath = (path: string) => {
  const merged = `${baseDir}/${path}`;
  return merged.replace(/\/+/g, "/");
};

const texto = "Descargar Hoja de Vida";

const url = getAssetPath("CV_Juan_Pablo_Bustamante.pdf");
---

<div class="presentacion">
  <div class="cuerpo">
    <hgroup class="nombre-titulo">
      <p class="nombre">JUAN PABLO</p>
      <h1 class="apellido">BUSTAMANTE</h1>
      <p class="titulo">Desarrollador Web</p>
    </hgroup>

    <BtnSelector texto={texto} url={url} />

    <BotonesPresentacion />
  </div>

  <div class="imagen-japonesa">
    <Image src={japonesa} alt="japonesa" id="japonesa" loading="eager" />
  </div>
</div>
