---
import Stack from "./Stack.astro";

const base = import.meta.env.BASE_URL;

const desarrollo = [
  { name: "HTML", icon: `${base}icons/html.svg` },
  { name: "CSS", icon: `${base}icons/css.svg` },
  { name: "JavaScript", icon: `${base}icons/javascript.svg` },
  { name: "TypeScript", icon: `${base}icons/typescript.svg` },
  { name: "Angular", icon: `${base}icons/angular.svg` },
  { name: "Astro", icon: `${base}icons/astro.svg` },
];

const diseno = [
  { name: "Figma", icon: `${base}icons/figma.svg` },
  { name: "Photoshop", icon: `${base}icons/photoshop.svg` },
  { name: "Illustrator", icon: `${base}icons/illustrator.svg` },
  { name: "Affinity", icon: `${base}icons/affinity.svg` },
  { name: "Inkscape", icon: `${base}icons/inkscape.svg` },
];
---

<div class="categoria">
  <h2 class="titulo-categoria">SOFTWARE</h2>
  <div class="sub-categoria">
    <Stack title="DESARROLLO" items={desarrollo} />
    <Stack title="COMPLEMENTO" items={diseno} />
  </div>
</div>
